.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    font-family: "Roboto", sans-serif;
}

.cabecalho {
    background-color: #960000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

.cabecalho-imagem {
    width: 32%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 25px;
    font-size: 22px;
}

* {
    margin: 0 0;
    padding: 0 0;
}

.apresentacao-imagem {
    width: 25%;
}

.apresentacao {
    background-image: linear-gradient(#960000, #A47F7F);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.apresentacao-titulo {
    padding: 24px 0;
}

.apresentacao-texto-um {
    padding: 24px 0;
}

.apresentacao-div-conteudo {
    width: 49%;
}

.materiais-imagem{
    width: 120px;
}

.materiais-icone{
    width: 22px;
}

.materiais-div{
    text-align: center;
    padding: 16px 0;
}

.materiais-titulo{
    text-align: center;
    padding: 25px 0;
}

.materiais-todos{
    display: grid;
    grid-template-columns: 16.6% 16.7% 16.7% 16.7% 16.7% 16.6%;
}

.materiais{
    background-color: #A37C7C;
    color: white;
    padding: 30px 0;
}

footer{
    background-color: #960000;
    padding: 15px 0;
    text-align: center;
}

.rodape-whatsapp{
    color: white;
    display: flex;
    justify-content: center;
}

.imagem-rodape{
    padding: 0 5px;
}